@model List<FermeWeb1._0.Models.Producto>
@{
    ViewBag.Title = "Producto";
}
<!DOCTYPE html>
<head>
    <title>Ferreteria FERME</title>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        h3 {
            color: #000000;
        }
        h5 {
            color: #000000;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/Home/index"><img src="~/Imagenes/FERME Logo.png" class="responsiveImage" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Ingrese su busqueda..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <nav>
            <a href="/Producto/carro"><img src="~/Imagenes/carrito.png" class="responsiveImage" /></a>
            <a class="circulo" id="cantidad"></a>
            @if (Session["data"].ToString() == "null")
            {
                <a href="/Cliente/index">LogIn</a>
            }
            else
            {

                <a>&nbsp;Bienvenido @Session["data"].ToString()</a>
            }

        </nav>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Producto/Herramientas">Herramientas y Maquinaria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Producto/AireLibre">Aire Libre y Jardín</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Producto/Decoracion">Decoración e Iluminación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Producto/Muebles">Muebles y Organización</a>
                </li>
            </ul>
        </div>
    </nav>
        <div id="myCarouselCustom" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarouselCustom" data-slide-to="0" class="active"></li>
                <li data-target="#myCarouselCustom" data-slide-to="1"></li>
                <li data-target="#myCarouselCustom" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src=~/Imagenes/Productos/STANMartillo.jpg alt="">
                    <div class="carousel-caption">
                        <h3>Martillo</h3>
                        <h5>$ 5000 c/u</h5>

                    </div>
                </div>
                <div class="item">
                    <img src=~/Imagenes/Productos/MOTOSIERRA_STIHL_MS-180C.jpg alt="">
                    <div class="carousel-caption">
                        <h3>Motocierra STIHL_MS-180C</h3>
                        <h5>$ 5000 c/u</h5>
                    </div>
                </div>
            </div>
        </div>
    <div>
        <h1>
            Productos Mas Vistos
        </h1>
    </div>
    <br>
    <div class="grid-wrapper">
        @foreach (var pros in ViewData["ProductosData"] as IEnumerable<FermeWeb1._0.Models.Producto>)
        {
            <div class="box zone">
                <img src=@pros.rutadoc width="100" height="300"><br />
                <label id="nombre_@pros.id">@pros.nombre</label><br />
                <label id="preciouni_@pros.id">@pros.preciouni</label><br />
                <div id="stock_@pros.id">Stock: @pros.stock</div>
                <label id="id_@pros.id">@pros.id</label><br />
                <div class="form-group">
                    <input type="text" id="cantidad_@pros.id" tabindex="2" class="form-control" placeholder="cantidad" />
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="button" value="Comprar" onclick="clAgregar('nombre_@pros.id','cantidad_@pros.id','preciouni_@pros.id','id_@pros.id')" />
                </div>
            </div>
        }
    </div>
    <footer class="">Ferreteria FERME 2020</footer>


</body>
<script>
    //Script carrusel
    $('#myCarouselCustom').carousel();
    $("#prevBtn").click(function () {
        $("#myCarouselCustom").carousel("prev");
    });
    $("#nextBtn").click(function () {
        $("#myCarouselCustom").carousel("next");
    });
    //carrusel final

    //Script carro
    //final carro
    function clAgregar(nombre, cantidad,preciouni,id) {
        if ($("#" + cantidad).val() == null || $("#" + cantidad).val() == "") {
            alert("Ingrese la cantidad" + $("#" + cantidad).val());
            return;

        } else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("compras", "Producto")',
                dataType: "aplication/json; charset=utf-8",
                dataType: "json",
                data: {
                    "prod":
                    {
                        'id': $("#" + id).text(),
                        'nombre': $("#" + nombre).text(),
                        'cantidad': $("#" + cantidad).val(),
                        'preciouni': $("#" + preciouni).text()

                    }
                },
                success: function (d) {
                    if (d != null || d != "") {
                        alert("Producto Agregado")
                   }
                }
            }).done(function (info)
            {
                console.log(info);
            })
        }
    }

</script>